---
import AlertListener from '../../components/overlays/AlertListener';
import '../../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Alert Box - Live</title>
  </head>
  <body>
    <AlertListener client:load />
  </body>
</html>
