---
import ChatOverlay from '../../components/overlays/ChatOverlay';
import '../../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Chat Overlay - Left</title>
  </head>
  <body>
    <ChatOverlay
      client:load
      position="left"
      width={400}
      maxMessages={10}
      messageLifetime={15000}
    />
  </body>
</html>
