---
import BRBScreen from '../../components/overlays/BRBScreen';
import '../../styles/global.css';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Pantalla BRB - Español</title>
  </head>
  <body>
    <BRBScreen client:load language="es" />
  </body>
</html>
