---
import EndingScreen from '../../components/overlays/EndingScreen';
import '../../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Ending Screen - English</title>
  </head>
  <body>
    <EndingScreen
      client:load
      language="en"
      socials={{
        twitter: "yourhandle",
        youtube: "YourChannel",
        discord: "discord.gg/yourserver"
      }}
    />
  </body>
</html>
