---
import EndingScreen from '../../components/overlays/EndingScreen';
import '../../styles/global.css';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Pantalla de Cierre - Español</title>
  </head>
  <body>
    <EndingScreen
      client:load
      language="es"
      socials={{
        twitter: "tuhandle",
        youtube: "TuCanal",
        discord: "discord.gg/tuservidor"
      }}
    />
  </body>
</html>
