---
import StartingScreen from '../../components/overlays/StartingScreen';
import '../../styles/global.css';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Pantalla de Inicio - Español</title>
  </head>
  <body>
    <StartingScreen client:load language="es" streamerName="HBoom" />
  </body>
</html>
